body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-light {
    color: #F9FAF8;
}

.text-light-dim {
    color: #E5E7EB;
}

.text-dark {
    color: #1F2937;
}

.bg-dark {
    background-color: #1F2937;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 300px;
    background-color: #1F2937;
    gap: 64px;
}

.hero .hero-content {
    width: 420px;
    flex: 1;
}

.hero h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
}

button {
    padding: 10px 20px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    flex: 1;
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}