/* RESET Style */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, system-ui, sans-serif;
    background-color: #fff;
    color: #000;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* THEME Style */
.bg-primary {
    background-color: #1F2937;
}

.bg-secondary {
    background-color: #E5E7EB;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HEADER Style */
.header {
    padding: 1rem;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header .links {
    color: #E5E7EB;
    font-size: 18px;
}

/* HERO Style */
.hero {
    padding: 5rem 0;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.hero-headline,
.hero-image {
    flex: 1;
}

.hero-headline h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-headline p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 1rem 0;
}

.hero-headline button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.hero-headline button:hover {
    background-color: #0056b3;
}

/* INFO Style */
.info {
    padding: 5rem 0;
}

.info .container {
    max-width: 1000px;
}

.info-headline {
    text-align: center;
}

.info-headline h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info .info-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
}

.info-items .item {
    text-align: center;
}

.info-items .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

/* QUOTES Style */
.quotes {
    background-color: #E5E7EB;
    padding: 5rem 0;
}

.quotes .container {
    max-width: 1000px;
}

.quotes p:first-of-type {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quotes p:last-of-type {
    text-align: end;
    font-weight: 900;
}

/* CTA Style */
.cta {
    padding: 5rem 0;
}

.cta-card {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.cta-card p {
    color: #E5E7EB;
}

.cta-button button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: .5rem 5rem;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cta-button button:hover {
    background-color: #0056b3;
}

/* FOOTER Style */
.footer {
    padding: 1.5rem 0;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}